:root {
  --color1: rgba(135, 183, 171, 0.243);
  --color2: rgb(255, 255, 255);
  --color3: yellowgreen;
  --color4: blueviolet;
  --color5: #5995fb;
  --color6: #151B22;
  --color7: #0D1117;
  --translucide: #ffffff29;
  --font1: #5a5b5c62;
  --font2: #50515287;
  --font3: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body { 
  background-color: var(--color1);
  font-size: 1.65rem;
  width: 100%;
  height: 5.6rem;
}

nav {
  background: var(--color2);
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding-inline: 2rem;
}

nav .logo {
  font-size: 2.2rem;
  font-weight: bold;
}

.search {
  display: flex;
  width: 34rem;
  align-items: center;
  padding: .1rem;
  border-radius: .8rem;
  background: var(--color1);
}

.search i {
  font-size: 1.2rem;
  color: var(--font1);
  padding-inline: 1rem;
}

#search{
  width: 32rem;
  height: 3rem;
  border: none;
  border-radius: .8rem;
  text-align: left;
  background: var(--translucide);
}

#search::placeholder {
  color: var(--font1);
  font-size: 1.2rem;
  font-weight: 700;
}

#search:focus {
  outline: none;
  bottom: .1rem solid #ccc;
}

.container-toggles {
  width: 40rem;
  padding: .6rem;
  font-size: 1.2rem;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  background: var(--color2);
}

.container-toggles a {
  text-decoration: none;
  color: var(--font3);
}

.container-links {
  width: 22rem;
  display: flex;
  padding: .6rem;
  justify-content: space-between;
}

.container-badges {
  width: 8rem;
  display: flex;
  justify-content: space-around;
}

.container-badges i {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color1);
}

.container-main {
  width: 100%;
  height: 60rem;
  padding: 3rem;
}

.main {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  padding: 3rem;
  border-radius: .8rem;
  background: var(--color2);
}

.header  {
  width: 46%;
  height: 70vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 3rem;
}

.header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
}

.text-secundary {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: var(--color5);
}

p {
  margin-top: 2rem;
}

.container-buttons {
  width: 70%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

button {
  width: 14rem;
  height: 4.6rem;
  gap: 1rem;
  border: none;
  border-radius: .6rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

button:first-child {
  background: var(--color5);
  color: var(--color2);
}

.img-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46%;
  height: 70vh;  
}
